{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="col-12">
        <div class="card recent-sales overflow-auto">

            <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Assign Permissions to {{ group.name|title }} Group</h5>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-admission-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Student Registration Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="admission-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Student Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Register Student
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_studentmodel"
                                                            {% if "add_studentmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Student Information
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_studentmodel"
                                                            {% if "view_studentmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Update Student Information
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_studentmodel"
                                                            {% if "change_studentmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Delete Student
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="delete_studentmodel"
                                                            {% if "delete_studentmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Student Setting Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Student Setting
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_studentsettingmodel"
                                                            {% if "view_studentsettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Update Student Setting
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_studentsettingmodel"
                                                            {% if "change_studentsettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-academic-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Inventory Management Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="academic-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Products, Product Categories, Product Suppliers</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can add and update Products, Categories and Suppliers
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_itemmodel"
                                                            {% if "add_itemmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Products, Categories and Suppliers
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_itemmodel"
                                                            {% if "view_itemmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Delete Products, Categories and Suppliers
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="delete_itemmodel"
                                                            {% if "delete_itemmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Stock in and stock out Products
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_stockinmodel"
                                                            {% if "add_stockinmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>
                                                    
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Stock in and stock out
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_stockinmodel"
                                                            {% if "view_stockinmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Handle inventory Management (Purchase order, purchase advance, student collections)
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_inventorycollectionmodel"
                                                            {% if "add_inventorycollectionmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View inventory collection
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_inventorycollectionmodel"
                                                            {% if "view_inventorycollectionmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-finance-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Finance Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="finance-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Student Wallet Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Fund Student Wallet
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_studentfundingmodel"
                                                            {% if "add_studentfundingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        View Student Funding
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_studentfundingmodel"
                                                            {% if "view_studentfundingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Confirm Student and Staff Funding
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_studentfundingmodel"
                                                            {% if "change_studentfundingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Finance Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Record Transactions
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_expensemodel"
                                                            {% if "add_expensemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Transactions
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_expensemodel"
                                                            {% if "view_expensemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Finance Setting
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_financesettingmodel"
                                                            {% if "view_financesettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Update Finance Setting
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_financesettingmodel"
                                                            {% if "change_financesettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Salary Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Process Salary and Salary Setup
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_salaryrecord"
                                                            {% if "add_salaryrecord" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Salary and Salary Setup
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_salaryrecord"
                                                            {% if "view_salaryrecord" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-finance2-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse32" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Fee Collection Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse32" class="accordion-collapse collapse" aria-labelledby="finance-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Student Fee Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Handle Fee Setup (Fees, Fee Group, Fee Structure)
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_feemodel"
                                                            {% if "add_feemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Fee Setup (Fees, Fee Group, Fee Structure)
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_feemodel"
                                                            {% if "view_feemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Process Fee Collections
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_feepaymentmodel"
                                                            {% if "add_feepaymentmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Fee Collections
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_feepaymentmodel"
                                                            {% if "add_feepaymentmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-sale-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Sales Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="sale-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Sales Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Place Orders
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_salemodel"
                                                            {% if "add_salemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        View Orders
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_salemodel"
                                                            {% if "view_salemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Update Orders
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_salemodel"
                                                            {% if "change_salemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        View Statistics
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_salemodel"
                                                            {% if "delete_salemodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-sale0-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse40" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Cafeteria Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse40" class="accordion-collapse collapse" aria-labelledby="sale-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Cafeteria Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Handle Setup
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_cafeteriasettingmodel"
                                                            {% if "add_cafeteriasettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Setup
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_cafeteriasettingmodel"
                                                            {% if "view_cafeteriasettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can Record Collections
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_mealcollectionmodel"
                                                            {% if "add_mealcollectionmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Can View Collections
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_mealcollectionmodel"
                                                            {% if "view_mealcollectionmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-hr-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Human Resource Permissions
                                    </button>
                                </h2>
                                <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="hr-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Human Resource Permissions</h5>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Register and Update Staff
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_staffmodel"
                                                            {% if "add_staffmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        View Staff Profile
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="view_staffmodel"
                                                            {% if "view_staffmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Delete Staff
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="delete_staffmodel"
                                                            {% if "delete_staffmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                   <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Assign Role and Permissions
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_group"
                                                            {% if "add_group" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Update HR Setting
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_hrsettingmodel"
                                                            {% if "change_hrsettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-setting-permission">
                                    <button class="accordion-button collapsed card-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapseOne">
                                        General Settings Permission
                                    </button>
                                </h2>
                                <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="setting-permission" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">General Settings Permissions</h5>
                                                <ul class="list-group">


                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Update School Information
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_schoolinfomodel"
                                                            {% if "change_schoolinfomodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Update School Setting
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="change_schoolsettingmodel"
                                                            {% if "change_schoolsettingmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Software Setup (Class Sections, Classes, Form Teachers)
                                                        <span class="badge">
                                                            <input type="checkbox" name="permissions[]" value="add_classesmodel"
                                                            {% if "add_classesmodel" in permission_codenames %} checked {% endif %}>
                                                        </span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <input type="hidden" name="name" value="{{group.name}}">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>


</form>

{% endblock %}

