<!DOCTYPE html>
{% load static %}
{% load student_custom_tags %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{site_info.title|title}}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ school_info.logo.url }}" rel="icon">
    <link href="{{ school_info.logo.url }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'admin_site/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_site/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'admin_site/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_site/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'admin_site/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'admin_site/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'admin_site/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'admin_site/styles/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
        @media print {
          .non-printable {
            display: none !important;
          }
        }
    </style>
</head>

<body>
<style>
    .nav-link {
      height:35px
    }


</style>
<!-- ======= Header ======= -->
<header class="header non-printable fixed-top d-flex align-items-center" id="header">

    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="{% url 'admin_dashboard' %}">
            <!--        <img src="/media/{{ site_info.logo }}" alt="" style="width:100px;height:100px">-->
            <span class="d-none d-lg-block">{{ school_info|upper }}</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{ low_stock }}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              {% if low_stock %}
                {{ low_stock }} Product{{low_stock|pluralize}} {% if low_stock == 1 %} is {% else %} are {% endif %} running low
                {% else %}
                No Product is running low
                {% endif %}
                {% if 'inventory.add_stockinmodel' in perms  %}
              <a href="{% url 'inventory_manual_stock_in_create' %}"><span class="badge rounded-pill bg-primary p-2 ms-2">Stock Now</span></a>
                {% endif %}
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

              {% for low_stock in low_stock_list %}
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>{{low_stock|title}}</h4>
                <p>Only {{low_stock.total_quantity}} unit{{low_stock.total_quantity|pluralize}} left</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
              {% endfor %}

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" href="#">
                    {% if user.is_superuser %}
                    <img alt="Profile" class="rounded-circle" src="{{ school_info.logo.url }}">
                    {% else %}
                    {% if user.profile.staff.image %}
                    <img alt="Profile" class="rounded-circle" src="{{user.profile.staff.image.url}}">
                    {% else %}
                    <img alt="Profile" class="rounded-circle" src="{% static 'admin_site/images/default_image.jpg' %}">
                    {% endif %}
                    {% endif %}

                </a><!-- End Profile Image Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 class="card-title">{{ user.username|upper}}</h6>
                        <span>{% if user.is_superuser %} SuperAdmin {% else %} {{ user.profile.staff|title }} {% endif %}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'change_password' %}">
                            <i class="bi bi-gear"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<aside class="sidebar non-printable" id="sidebar" style="">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin_dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        {% if 'inventory.add_salemodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'place_order' %}">
                <i class="bi bi-cart-plus"></i>
                <span>Place Order</span>
            </a>
        </li>
        {% endif %}

        {% if 'cafeteria.add_mealcollectionmodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'cafeteria_collection_live' %}">
                <i class="bi bi-egg-fried"></i>
                <span>Cafeteria Order</span>
            </a>
        </li>
        {% endif %}

        {% if 'inventory.view_salemodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'view_orders' %}">
                <i class="bi bi-card-list"></i>
                <span>View Orders</span>
            </a>
        </li>
        {% endif %}


        {% if 'student.add_studentmodel' in perms or 'student.view_studentmodel' in perms or 'student.view_studentsettingmodel' in perms or request.user|is_form_teacher %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#stud" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-bookmark-fill"></i><span>Student</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="stud">

                    {% if 'student.add_studentmodel' in perms or request.user|is_form_teacher %}
                    <li>
                        <a href="{% url 'select_parent' %}">
                            <i class="bi bi-circle"></i><span>Register Student</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'student.view_studentmodel' in perms %}
                    <li>
                        <a href="{% url 'student_index' %}">
                            <i class="bi bi-circle"></i><span>View Students</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if 'student.view_studentmodel' in perms or request.user|is_form_teacher %}
                    <li>
                        <a href="{% url 'student_select_class' %}">
                            <i class="bi bi-circle"></i><span>Class Students</span>
                        </a>
                    </li>
                    {% endif %}

<!--                    {% if 'student.add_studentmodel' in perms %}-->
<!--                    <li>-->
<!--                        <a href="{% url 'paste_create_students' %}">-->
<!--                            <i class="bi bi-circle"></i><span>Data Student Upload</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {% endif %}-->
<!--                    {% if 'student.add_studentmodel' in perms %}-->
<!--                    <li>-->
<!--                        <a href="{% url 'paste_create_parents' %}">-->
<!--                            <i class="bi bi-circle"></i><span>Data Parent Upload</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {% endif %}-->

                    {% if 'student.add_studentmodel' in perms or request.user|is_form_teacher %}
                    <li>
                        <a href="{% url 'parent_create' %}">
                            <i class="bi bi-circle"></i><span>Register Parent</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'student.view_studentmodel' in perms or request.user|is_form_teacher %}
                    <li>
                        <a href="{% url 'parent_index' %}">
                            <i class="bi bi-circle"></i><span>View Parents</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'student.view_studentsettingmodel' in perms %}
                    <li>
                        <a href="{% url 'setting_detail' %}">
                            <i class="bi bi-circle"></i><span>Setting</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}

        {% if 'inventory.view_salemodel' in perms or  'inventory.view_itemmodel' in perms or 'inventory.view_stockinmodel' in perms or 'inventory.view_inventorycollectionmodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#acad" data-bs-toggle="collapse" href="#">
                <i class="ri-book-mark-fill"></i><span>Inventory</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="acad">

                {% if 'inventory.view_salemodel' in perms %}
                <li>
                    <a href="{% url 'staff_sales_report' %}">
                        <i class="bi bi-circle"></i><span>Sales Report</span>
                    </a>
                </li>
                {% endif %}
                {% if 'inventory.view_itemmodel' in perms %}
                <li>
                    <a href="{% url 'inventory_item_list' %}">
                        <i class="bi bi-circle"></i><span>Items</span>
                    </a>
                </li>
                {% endif %}

                {% if 'inventory.add_stockinmodel' in perms %}
                <li>
                    <a href="{% url 'inventory_manual_stock_in_create' %}">
                        <i class="bi bi-circle"></i><span>Stock In</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory_stock_transfer_list' %}">
                        <i class="bi bi-circle"></i><span>Stock Transfers</span>
                    </a>
                </li>
                {% endif %}

                {% if 'inventory.view_stockinmodel' in perms %}
                <li>
                    <a href="{% url 'inventory_stock_in_list' %}">
                        <i class="bi bi-circle"></i><span>View Stock In</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory_stock_out_list' %}">
                        <i class="bi bi-circle"></i><span>View Stock Outs</span>
                    </a>
                </li>
                {% endif %}

                {% if 'inventory.view_inventorycollectionmodel' in perms %}
                <li>
                    <a href="{% url 'inventory_po_list' %}">
                        <i class="bi bi-circle"></i><span>Purchase Orders</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory_advance_list' %}">
                        <i class="bi bi-circle"></i><span>Purchase Advances</span>
                    </a>
                </li>
                {% endif %}

                {% if 'inventory.view_itemmodel' in perms %}
                <li>
                    <a href="{% url 'inventory_category_list' %}">
                        <i class="bi bi-circle"></i><span>Category</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory_supplier_list' %}">
                        <i class="bi bi-circle"></i><span>Suppliers</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </li>
        {% endif %}

        {% if 'inventory.view_itemmodel' in perms or 'inventory.view_stockinmodel' in perms or 'inventory.view_purchaseordermodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#acad2" data-bs-toggle="collapse" href="#">
                <i class="ri-book-mark-fill"></i><span>Inventory Collection</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="acad2">

                <!-- Assignment Management -->
                <li>
                    <a href="{% url 'assignment_list' %}">
                        <i class="bi bi-circle"></i><span>Manage Assignments</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'create_assignment' %}">
                        <i class="bi bi-circle"></i><span>Create New Assignment</span>
                    </a>
                </li>

                <!-- Student Collections -->
                <li>
                    <a href="{% url 'student_collection_search' %}">
                        <i class="bi bi-circle"></i><span>Student Collections</span>
                    </a>
                </li>


            </ul>
        </li>
        {% endif %}

         {% if 'finance.view_feemodel' in perms or 'finance.view_feepaymentmodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#fees" data-bs-toggle="collapse" href="#">
                <i class="bi bi-cash-stack"></i><span>Fees</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="fees">

                {% if 'finance.add_feepaymentmodel' in perms %}
                <li>
                    <a href="{% url 'finance_student_payment_search' %}">
                        <i class="bi bi-circle"></i><span>Fee Payment</span>
                    </a>
                </li>
                {% endif %}

                {% if 'finance.view_feepaymentmodel' in perms %}
                <li>
                    <a href="{% url 'finance_payment_index' %}">
                        <i class="bi bi-circle"></i><span>Fee Payment History</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'finance_invoice_list' %}">
                        <i class="bi bi-circle"></i><span>Fee Invoices</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'fee_dashboard' %}">
                        <i class="bi bi-circle"></i><span>Fee Dashboard</span>
                    </a>
                </li>
                {% endif %}

                {% if 'finance.view_feemodel' in perms %}
                <li>
                    <a href="{% url 'finance_fee_master_list' %}">
                        <i class="bi bi-circle"></i><span>Fee Structure</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'finance_fee_group_list' %}">
                        <i class="bi bi-circle"></i><span>Fee Groups</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'finance_fee_list' %}">
                        <i class="bi bi-circle"></i><span>Fees</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </li>
        {% endif %}

        {% if 'finance.add_studentfundingmodel' in perms or 'finance.view_studentfundingmodel' in perms or 'finance.view_expensemodel' in perms or request.user.staff_profile %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fee" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-cash-stack"></i><span>Finance</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="fee">

                    {% if 'finance.view_expensemodel' in perms or 'finance.view_studentfundingmodel' in perms %}
                    <li>
                        <a href="{% url 'finance_dashboard' %}">
                            <i class="bi bi-circle"></i><span>Finance Dashboard</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'finance.add_studentfundingmodel' in perms %}
                    <li>
                        <a href="{% url 'deposit_select_student' %}">
                            <i class="bi bi-circle"></i><span>Student Wallet Deposit</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'deposit_select_staff' %}">
                            <i class="bi bi-circle"></i><span>Staff Wallet Deposit</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'finance.view_studentfundingmodel' in perms %}
                    <li>
                        <a href="{% url 'deposit_index' %}?session={{academic_info.session.id}}&term={{academic_info.term.id}}">
                            <i class="bi bi-circle"></i><span>Student Deposit History</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'staff_deposit_index' %}?session={{academic_info.session.id}}&term={{academic_info.term.id}}">
                            <i class="bi bi-circle"></i><span>Staff Deposit History</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'finance.change_studentfundingmodel' in perms %}
                    <li>
                        <a href="{% url 'pending_deposit_index' %}?session={{academic_info.session.id}}&term={{academic_info.term.id}}">
                            <i class="bi bi-circle"></i><span>Student Pending Deposit</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'staff_pending_deposit_index' %}?session={{academic_info.session.id}}&term={{academic_info.term.id}}">
                            <i class="bi bi-circle"></i><span>Staff Pending Deposit</span>
                        </a>
                    </li>

                    {% endif %}
                    <li>
                        <a href="{% url 'staff_upload_deposit' %}">
                            <i class="bi bi-circle"></i><span>Wallet Funding</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'staff_deposit_history' %}">
                            <i class="bi bi-circle"></i><span>My Funding History</span>
                        </a>
                    </li>

                    {% if 'finance.view_expensemodel' in perms %}
                    <li>
                        <a href="{% url 'finance_accounts_payable_list' %}">
                            <i class="bi bi-circle"></i><span>Supplier Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_all_payments_list' %}">
                            <i class="bi bi-circle"></i><span>Supplier Payments Log</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_advance_accounts_list' %}">
                            <i class="bi bi-circle"></i><span>Advance Payments</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'expense_index' %}">
                            <i class="bi bi-circle"></i><span>Expenses</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'income_index' %}">
                            <i class="bi bi-circle"></i><span>Incomes</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'finance.add_expensemodel' in perms %}
                    <li>
                        <a href="{% url 'income_category_index' %}">
                            <i class="bi bi-circle"></i><span>Income Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'expense_category_index' %}">
                            <i class="bi bi-circle"></i><span>Expense Category</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'finance.change_financesettingmodel' in perms %}
                    <li>
                        <a href="{% url 'finance_setting_detail' %}">
                            <i class="bi bi-circle"></i><span>Settings</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#sal" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-cash-stack"></i><span>Salary Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="sal">

                    {% if 'finance.add_salaryrecord' in perms %}
                    <li>
                        <a href="{% url 'finance_process_payroll' %}">
                            <i class="bi bi-circle"></i><span>Process Salary</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'finance.view_salaryrecord' in perms %}
                    <li>
                        <a href="{% url 'finance_salary_advance_list' %}">
                            <i class="bi bi-circle"></i><span>Salary Advance</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_staff_loan_list' %}">
                            <i class="bi bi-circle"></i><span>Staff Loans</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_staff_loan_debtors' %}">
                            <i class="bi bi-circle"></i><span>Staff Loan Debtors</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_payroll_dashboard' %}">
                            <i class="bi bi-circle"></i><span>Salary Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_salary_structure_list' %}">
                            <i class="bi bi-circle"></i><span>Salary Structure</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_staff_bank_detail_list' %}">
                            <i class="bi bi-circle"></i><span>Bank Accounts</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user.staff_profile.staff %}
                    <li>
                        <a href="{% url 'staff_salary_profile' %}">
                            <i class="bi bi-circle"></i><span>My Salary Profile</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </li>


        {% if 'cafeteria.view_mealcollectionmodel' in perms or 'cafeteria.view_cafeteriasettingmodel' in perms %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#cafe" data-bs-toggle="collapse" href="#">
                <i class="bi bi-egg-fried"></i><span>Cafeteria</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="cafe">

                {% if 'cafeteria.view_mealcollectionmodel' in perms %}
                <li>
                    <a href="{% url 'cafeteria_collection_history' %}">
                        <i class="bi bi-circle"></i><span>Collections</span>
                    </a>
                </li>
                {% endif %}

                {% if 'cafeteria.view_cafeteriasettingmodel' in perms %}
                <li>
                    <a href="{% url 'cafeteria_meal_list' %}">
                        <i class="bi bi-circle"></i><span>Meals</span>
                    </a>
                </li>
                {% endif %}

                {% if 'cafeteria.view_cafeteriasettingmodel' in perms %}
                <li>
                    <a href="{% url 'cafeteria_settings_detail' %}">
                        <i class="bi bi-circle"></i><span>Setting</span>
                    </a>
                </li>
                {% endif %}

                {% if 'cafeteria.view_cafeteriasettingmodel' in perms %}
                <li>
                    <a href="{% url 'cafeteria_paid_students_report' %}">
                        <i class="bi bi-circle"></i><span>Eligible Students</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#hr" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people"></i><span>Human Resource</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="hr">

                {% if 'human_resource.add_staffmodel' in perms %}
                <li>
                    <a href="{% url 'staff_create' %}">
                        <i class="bi bi-circle"></i><span>Register Staff</span>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="{% url 'staff_upload' %}">-->
<!--                        <i class="bi bi-circle"></i><span>Upload Staff</span>-->
<!--                    </a>-->
<!--                </li>-->
                {% endif %}

                {% if 'human_resource.view_staffmodel' in perms %}
                <li>
                    <a href="{% url 'staff_index' %}">
                        <i class="bi bi-circle"></i><span>View Staff</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hr_dashboard' %}">
                        <i class="bi bi-circle"></i><span>Dashboard</span>
                    </a>
                </li>
                {% endif %}

                {% if request.user.staff_profile.staff %}
                <li>
                    <a href="{% url 'staff_profile' %}">
                        <i class="bi bi-circle"></i><span>My Profile</span>
                    </a>
                </li>
                {% endif %}

                {% if 'auth.add_group' in perms %}
                <li>
                    <a href="{% url 'group_index' %}">
                        <i class="bi bi-circle"></i><span>Roles & Permissions</span>
                    </a>
                </li>
                {% endif %}

                {% if 'human_resource.change_hrsettingmodel' in perms %}
                <li>
                    <a href="{% url 'hr_setting_detail' %}">
                        <i class="bi bi-circle"></i><span>HR Settings</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </li>


        {% if 'admin_site.change_schoolinfomodel' in perms or 'admin_site.change_schoolsettingmodel' in perms or 'admin_site.add_classesmodel' in perms %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gear-fill"></i><span>Setting</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="tables-nav">

                    {% if 'admin_site.change_schoolinfomodel' in perms %}
                    <li>
                        <a href="{% url 'school_info_detail' %}">
                            <i class="bi bi-circle"></i><span>School Info</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'finance_school_bank_detail_list' %}">
                            <i class="bi bi-circle"></i><span>School Bank Accounts</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'admin_site.change_schoolsettingmodel' in perms %}
                    <li>
                        <a href="{% url 'school_setting_detail' %}">
                            <i class="bi bi-circle"></i><span>School Setting</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if 'admin_site.add_classesmodel' in perms %}
                    <li>
                        <a href="{% url 'class_index' %}">
                            <i class="bi bi-circle"></i><span>Classes</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'class_section_index' %}">
                            <i class="bi bi-circle"></i><span>Class Sections</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}

        <li class="nav-heading">Account</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </li></ul>

</aside>

<main class="main" id="main">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} {% if message.tags == 'error' %} alert-danger {% endif %} alert-dismissible fade show non-printable"
         role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        {{message}}
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% if form.errors %}
        {% for error in form.non_field_errors %}

            <div class="alert  alert-danger alert-dismissible fade show non-printable"
                 role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                {{ error|escape }}
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        {% endfor %}

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert  alert-danger alert-dismissible fade show non-printable"
                         role="alert">
                        <i class="bi bi-exclamation-octagon me-1"></i>
                        {{ field.label }}: {{ error|escape }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>

                {% endfor %}
            {% endif %}
        {% endfor %}

    {% endif %}

    {% if 0 %}
    <div class="pagetitle non-printable">
        <h1>{% block 'page' %} {%endblock %}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">{% block 'subpage' %} {% endblock %}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    {% endif %}

    <section class="section dashboard">
        {% block 'main' %} {% endblock %}
    </section>

</main><!-- End #main -->

<a class="back-to-top non-printable d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<!-- Vendor JS Files -->
  <script src="{% static 'admin_site/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'admin_site/scripts/jquery.js' %}"></script>
  <script src="{% static 'admin_site/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin_site/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'admin_site/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'admin_site/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'admin_site/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'admin_site/vendor/tinymce/tinymce.min.js' %}"></script>

  <script src="{% static 'admin_site/vendor/php-email-form/validate.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'admin_site/scripts/main.js' %}"></script>

</body>

</html>
