{% extends 'admin_site/layout.html' %}
{% block 'main' %}

<div class="col-lg-8 offset-lg-2 col-md-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create New Purchase Order</h5>
            <p class="card-description">
                Step 1: Select the supplier and set the order details. You will add items to the order on the next page.
            </p>

            <form method="POST" class="row g-3">
                {% csrf_token %}

                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form.supplier }}
                        <label for="id_supplier">Supplier <span class="text-danger">*</span></label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.order_date }}
                        <label for="id_order_date">Order Date <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.expected_date }}
                        <label for="id_expected_date">Expected Delivery Date</label>
                    </div>
                </div>


                
                <div class="col-12">
                    <div class="form-floating">
                        {{ form.notes }}
                        <label for="id_notes">Notes / Memos</label>
                    </div>
                </div>

                <div class="text-start mt-3">
                    <button type="submit" class="btn btn-primary">Create and Add Items</button>
                    <a href="{% url 'inventory_po_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}